.about {
    background: #fff;
    &--grey {
       background:$white-shade;
    }
    &__container {
        width: 80%;
        padding: 100px 0 200px 0;;
    }
    &__content {
        @include content;
    }
    &__btn {
        background: $button-accent;
        font-family: $primary__font;
        color: $primary-color;
        text-transform: uppercase;
        padding: 10px 15px;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        margin: 25px 0;
        transition: 400ms ease-in-out;
        &:hover {
            background: lighten($button-accent, 10)
        }
    }
    &__section-header {
        @include heading(4.2rem);
    }
    &__sub-header {
        @include heading(3.2rem);
    }
    // SOPHIE'S INTERESTS STYLES
    &__top-row {
        display: flex;
        align-items: center;
        &__interests-image-container {
            width: 50%;
            &__interests-image {
                box-shadow: -200px 20px $red-shade, 20px 20px $red-shade;
                position: relative;
                bottom: 75px;
            }
        }
    }
     &__interests {
        margin-left: 10%;
     }
    
    &__interests-image {
        box-shadow: -200px 20px $red-shade, 20px 20px $red-shade;
        position: relative;
        bottom: 75px;
    }

    // SOPHIE'S TRAVELS
    &__bottom-row {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    &__travel-image-container {
        width: 50%;
    }
    &__travel-image {
        box-shadow: 200px 20px $orange-shade, 20px 20px $orange-shade;
        position: relative;
    }
    &__travel {
        margin-right: 10%;
        text-align: right;
    }
}



