.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2rem;
    padding: 100px 0;
    margin-left: 25px;
    &__user {
        width: 49%;
        padding: 25px 50px;
    }
    &__email {
        width: 49%;
        padding: 25px 50px;
    }
    &__comments {
        width: 100%;
        margin-top: 2%;
        padding: 25px 50px;
    }
    &__submit {
        width: 100%;
        @extend .about__btn;
    }
    &__blog {
        margin-left: 0;
        padding: 25px 0;
    }
}

