.gallery {
    background: #fff;
    padding: 100px 0;
    &__container {
        display: flex;
        justify-content: space-around;
    }
    &__cell {
        margin: 0 20px;
    }
    &__image {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {

    .gallery {
        padding: 50px 0;
    }
    &__cell {
        margin: 0 5px;
    }
}

@media screen and (max-width: 600px) {
    .gallery {
        &__container{
            flex-direction: column;
        }
        &__cell {
            margin: 10px 0;
        }
    }
}