// COLOR DECLARATION
$primary-color: #2c2c2c;
$white-shade: #f0efed;
$blue-shade: #285e64;
$button-accent: #04afc1;
$red-shade: #a82706;
$orange-shade: #f6a823;
$grey-shade: #4f4f4f;

// FONT STACK
$primary__font: 'Roboto', sans-serif;
$secondary__font: 'Lora', serif;

// MIXINS
@mixin heading ($fontSize) {
	font-size: $fontSize;
	font-family: $primary__font;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0;
}

@mixin content {
	font-family: $primary__font;
	color: $primary-color;
	font-size: 20px;
	line-height: 32px;
	padding: 25px 0;
	margin: 0;
}

// GLOBAL STYLES
html,
body {
	font-size: 62.5%;
	overflow-x: hidden;
}

.wrapper {
	max-width: 80%;
	margin: 0 auto;
}

ul,
li {
	list-style: none;
	font-size: 1.8rem;
}

.image {
	max-width: 100%;
	display: block;
}

@media screen and (max-width: 600px) {
	.wrapper {
		max-width: 90%;
	}
}

@media screen and (max-width: 400px) {
	.wrapper {
		max-width: 95%;
	}
}
