// COLOR DECLARATION
$primary-color: #2c2c2c;
$white-shade: #f0efed;
$blue-shade:#285e64;
$button-accent: #04afc1;
$red-shade: #a82706;
$orange-shade: #f6a823;
$grey-shade: #4f4f4f;


// FONT STACK
$primary__font: 'Roboto', sans-serif;
$secondary__font: 'Lora', serif;

// MIXINS  
@mixin heading ($fontSize) {
    font-size: $fontSize;
    font-family: $primary__font;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

// GLOBAL STYLES
html, body{
    font-size: 62.5%;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    max-width: 80%;
}

.image {
    width: 100%;
    display: block;
}





 







