.journey {
    background: $white-shade;
    &__container {
        padding: 100px 0;
        display: flex;
        align-items: flex-end;
    }
    &__background-image {
        width: 100%;
    }

    &__image {
        box-shadow: 20px 20px $orange-shade;
    }

    &__content {
        margin-left: 10%;
    }
}

// MEDIA QUERIES
@media screen and (max-width: 1100px) {
    .journey {
        &__container {
            padding: 50px 0;
            flex-direction: column;
        }
        &__content {
            margin: 50px 0;
            text-align: center;
        }
        &__img-container {
            margin: 0 auto;
        }
    }
}
