.header {
    background: $orange-shade;
    margin: 0;
    &__header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__main-heading {
        margin: 0;
        font-size: 9.2rem;
        font-family: $secondary__font;
        text-transform: uppercase;
    }
    &__image {
        box-shadow: 15px 15px #fff;
        position: relative;
        top: 50px;
        &__circle-text {
            position: relative;
            left: 100px;
            bottom: 25px;
        }
     }
}
